@import "../../style.scss";
.post{
    @include themify($themes) {
        border-radius: 5px;box-shadow: -1px -1px 14px 6px rgba(0,0,0,0.09);
        -webkit-box-shadow: -1px -1px 14px 6px rgba(0,0,0,0.09);
        -moz-box-shadow: -1px -1px 14px 6px rgba(0,0,0,0.09);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");
        .container{
            padding: 20px;
            
        @include mobile{
            padding: 10px;
            width: 343px;
        }
            .user{
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                .userInfo{
                    display: flex;
                    gap: 20px;
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .details{
                        display: flex;
                        flex-direction: column;
                        span{
                            font-weight: 500;
                        }
                        .date{
                            font-weight: 12;
                        }
                    }
                }
                button{
                    position: absolute;
                    top: 30px;
                    right: 0;
                    border: none;
                    background-color: red;
                    padding: 5px;
                    cursor: pointer;
                    color: white;
                }
            }
        }
        .content{
            margin: 20px 0px;
            padding: 20px;
            @include mobile{
                padding: 0px;
            }
            img{
                width: 96%;
                max-height: 500px;
                object-fit: cover;
                @include mobile{
                    padding: -18px;
                }
            }
        }
        .info{
            display: flex;
            gap: 20px;
            align-items: center;
            .item{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                font-size: 14px;
            }
        }
    }
}