@import "../../style.scss";
.login{
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        width: 30%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        height: 70%;
        @include mobile{
            width: 320px;
            height: 550px;
        }
        .left{
            flex: 1;
            background: url(login.jpg) center;
            background-size: cover;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: white;
            @include mobile{
               width: 50%;
               gap: 5px;
           }
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                color: purple;
                padding: 10px;
                border: none;
                background-color: white;
                font-weight: bold;
                cursor: pointer;
                border-radius: 10px;
                @include mobile{
                    width: 80px;
                }
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;
            @include mobile{
                width: 150px;
                padding: 10px;
                gap: 0px;
            }
            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                    @include mobile{
                        width: 150px;
                        padding: 20px 0px;
                        margin-left: 0;
                    }
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #938eef;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    border-radius: 15px;
                }
            }
        }
    }

}